<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DemoJspServlet</display-name>
  <welcome-file-list>
       <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
   <param-name>contextData</param-name>
   <param-value>contextValue</param-value>
  </context-param>
  
  <servlet>
  	<servlet-class>com.serv.FirstServlet</servlet-class>
  	<servlet-name>firstServ</servlet-name>
  	
  	<init-param>
  		<param-name>configData</param-name>
  		<param-value>configValue</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>firstServ</servlet-name>
  	<url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  
</web-app>